<!-- register-modal.component.html -->
<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content modal-custom-width">
      <div class="modal-header border-0 d-flex justify-content-center">
        <h5 class="modal-title mx-auto" id="registerModalLabel">Registrarse</h5>
        <button
          type="button"
          class="btn-close position-absolute end-0 me-3 shadow-none"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="img-login">
          <img src="/Registro.png" alt="Registro" />
        </div>
        <div class="form-body">
          <form (ngSubmit)="agregarUsuario()">
            <div class="mb-3 form-group">
              <label for="username">Username:</label>
              <input
                type="text"
                id="username"
                required
                [(ngModel)]="nuevoUsuario.username"
                name="username"
                class="form-control"
              />
            </div>

            <div class="mb-3 form-group">
              <label for="password">Password:</label>
              <input
                type="password"
                id="password"
                required
                [(ngModel)]="nuevoUsuario.password"
                name="password"
                class="form-control"
              />
            </div>

            <div class="mb-3 form-group">
              <label for="nombres">Nombres:</label>
              <input
                type="text"
                id="nombres"
                required
                [(ngModel)]="nuevoUsuario.nombres"
                name="nombres"
                class="form-control"
              />
            </div>

            <div class="mb-3 form-group">
              <label for="apellido">Apellido:</label>
              <input
                type="text"
                id="apellido"
                required
                [(ngModel)]="nuevoUsuario.apellido"
                name="apellido"
                class="form-control"
              />
            </div>

            <div class="mb-3 form-group">
              <label for="perfil">Perfil:</label>
              <select
                id="perfil"
                required
                [(ngModel)]="nuevoUsuario.perfil"
                name="perfil"
                class="form-control"
              >
                <option *ngFor="let perfil of perfiles" [value]="perfil._id">{{ perfil.nombre }}</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Registrar Usuario</button>
          </form>

          <div *ngIf="mensaje" class="alert alert-info mt-3">
            {{ mensaje }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
