<!-- register-modal.component.html -->
<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content modal-custom-width">
      <div class="modal-header border-0 d-flex justify-content-center">
        <h5 class="modal-title mx-auto" id="registerModalLabel">Registrarse</h5>
        <button
          type="button"
          class="btn-close position-absolute end-0 me-3 shadow-none"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="img-login">
          <img src="/Login.png" alt="Login" />
        </div>
        <div class="form-body">
          <form>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="registerName"
                placeholder="Nombre"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="registerLastName"
                placeholder="Apellido"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="registerUser"
                placeholder="Usuario"
              />
            </div>
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="registerEmail"
                placeholder="E-mail"
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                id="registerPassword"
                placeholder="Contraseña"
              />
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
