<section class="seccion-nosotros pb-5">
  <img src="/nosotros-wave.png" alt="" class="wave-nosotros">
  <div class="container nosotros-container">
    <div class="text-center">
      <h1 class="mb-4">Pablo</h1>
      <p class="lead">
        Somos un grupo de profesionales comprometidos con el bienestar y el
        desarrollo integral de las personas.
      </p>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 mb-4">
        <div class="card mb-4 h-100">
          <div class="card-body">
            <img
              src="/Salud.png"
              alt="Profesionales de la salud"
              class="card-img-top mb-3"
            />
            <h5 class="card-title">Profesionales de la salud</h5>
            <p class="card-text">
              Psicólogos, terapeuta ocupacional, y otros especialistas dedicados
              a mejorar la calidad de vida.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card mb-4 h-100">
          <div class="card-body">
            <img
              src="/Educadores.png"
              alt="Educadores"
              class="card-img-top mb-3"
            />
            <h5 class="card-title">Educadores</h5>
            <p class="card-text">
              Maestros y pedagogos con amplia experiencia en métodos de
              enseñanza personalizados.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card mb-4 h-100">
          <div class="card-body">
            <img
              src="/Indumentaria.png"
              alt="Diseñadores de indumentaria inclusiva"
              class="card-img-top mb-3"
            />
            <h5 class="card-title">Diseñadores de indumentaria inclusiva</h5>
            <p class="card-text">
              Profesionales formados en diseño de indumentaria, interesados en
              crear ropa adaptada a las necesidades de todos, promoviendo la
              inclusión y el bienestar a través del diseño accesible y que
              respete los intereses del usuario y tendencias.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
