.container {
  padding-top: 6em;
  position: relative;
}

.background-svg {
  position: absolute;
}

.btn-custom {
  background-color: #92e3a9;
  border-radius: 25px;
  border: none;
  width: 100%;
  color: black;
  margin-top: 1.6em;
  margin-bottom: 1em;
}