<!-- login-modal.component.html -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content modal-custom-width">
      <div class="modal-header border-0 d-flex justify-content-center">
        <h5 class="modal-title mx-auto" id="loginModalLabel">Bienvenido</h5>
        <button
          type="button"
          class="btn-close position-absolute end-0 me-3 shadow-none"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="btn-close-modal"
        ></button>
      </div>
      <div class="modal-body">
        <div class="img-login">
          <img src="/Login.png" alt="Login" />
        </div>
        <div class="form-body">
          <form>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="loginUser"
                placeholder="Usuario"
                [(ngModel)]="userform.username"
                name="usuario"
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                id="loginPassword"
                placeholder="Contraseña"
                [(ngModel)]="userform.password"
                name="password"
              />
            </div>
            <button type="submit" class="btn" (click)="login()">Login</button>
            <div class="alert-danger">{{msglogin}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
