<!-- home.component.html -->
<div class="background-image">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div class="info-home mb-4">
          <h1 class="titulo-home mb-3">Bienvenido a ReCreo</h1>
          <p class="subtitulo-home mb-5">
            ReCreo es un espacio multidisciplinario, dedicado a brindar un
            enfoque integral en salud, educación y mucho más.
          </p>
          <button class="btn">Más información</button>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="/Education.png" class="img-fluid" alt="Imagen Derecha" />
      </div>
    </div>
  </div>
</div>
