<section class="contacto-banner">
  <div class="svg-container position-absolute w-100 h-100">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#00cba9"
        fill-opacity="1"
        d="M0,256L21.8,266.7C43.6,277,87,299,131,261.3C174.5,224,218,128,262,106.7C305.5,85,349,139,393,165.3C436.4,192,480,192,524,213.3C567.3,235,611,277,655,288C698.2,299,742,277,785,272C829.1,267,873,277,916,256C960,235,1004,181,1047,170.7C1090.9,160,1135,192,1178,192C1221.8,192,1265,160,1309,170.7C1352.7,181,1396,235,1418,261.3L1440,288L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z"
      ></path>
    </svg>
  </div>
  <div class="container container-contacto">
    <div class="row d-flex align-items-center">
      <!-- Columna de la imagen -->
      <div class="col-md-6 text-center text-md-start">
        <div class="img-container">
          <img src="/Contacto.png" alt="Contacto" class="img-fluid" />
        </div>
      </div>
      <!-- Columna del contenido -->
      <div class="col-md-6">
        <h1 class="mb-4">Contacto</h1>
        <p>
          Si tienes alguna duda, pregunta, inquietud o si estás interesado en
          alguna de nuestras capacitaciones, no dudes en ponerte en contacto con
          nosotros a través de los siguientes medios:
        </p>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center container-cards">
    <div class="contacto-row text-center">
      <div class="contacto-item">
        <i class="bi bi-geo-alt-fill"></i>
        <h1 class="mt-3">Ubicación</h1>
        <p>
          Sánchez de Bustamante 134. San Salvador de Jujuy, Jujuy - Argentina
        </p>
        <div class="contacto-mapa">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3639.5631347372428!2d-65.29888142465052!3d-24.18704937837498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f5b5efe3379%3A0x1da10dc9dbf6403b!2sS%C3%A1nchez%20de%20Bustamante%20134%2C%20Y4600%20San%20Salvador%20de%20Jujuy%2C%20Jujuy!5e0!3m2!1ses-419!2sar!4v1720555721885!5m2!1ses-419!2sar"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="contacto-item">
        <i class="bi bi-chat-square-dots-fill"></i>
        <h1 class="mt-3">Formulario</h1>
        <p>
          Puedes llenar el siguiente formulario, te responderemos a la brevedad.
        </p>
        <form name="formulario-contacto" id="form">
          <input
            type="text"
            name="nombre"
            placeholder="Nombre"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="telefono"
            placeholder="Teléfono"
            class="form-control mb-2"
            required
          />
          <input
            type="email"
            name="email"
            placeholder="Correo"
            class="form-control mb-2"
            required
          />
          <input
            type="text"
            name="asunto"
            placeholder="Asunto"
            class="form-control mb-2"
            pattern="[a-z A-Z]+"
            minlength="3"
            maxlength="20"
            required
          />
          <textarea
            name="mensaje"
            rows="7"
            placeholder="Mensaje"
            class="form-control mb-2"
            maxlength="250"
            required
          ></textarea>
          <input type="submit" id="button" value="Enviar" />
        </form>
      </div>
      <div class="contacto-item">
        <i class="bi bi-person-circle"></i>
        <h1 class="mt-3">Contactos</h1>
        <p class="mb-4">
          No dudes en usar cualquiera de nuestros medios de comunicación.
        </p>
        <p><i class="bi bi-telephone-fill card-icon"></i> +54 9 388 444-8641</p>
        <p>
          <i class="bi bi-envelope-fill card-icon"></i>
          belu_zalazar&#64;live.com.ar
        </p>
        <div class="contacto-redes-container">
          <div class="contacto-redes-item">
            <p><a href="https://www.facebook.com" class="bi bi-facebook" target="_blank"> Facebook</a></p>
          </div>
          <div class="contacto-redes-item">
            <p><a href="https://www.instagram.com" class="bi bi-instagram" target="_blank"> Instagram</a></p>
          </div>
          <div class="contacto-redes-item">
            <p><a href="https://www.linkedin.com" class="bi bi-linkedin" target="_blank"> LinkedIn</a></p>
          </div>
          <div class="contacto-redes-item">
            <p><a href="https://www.whatsapp.com" class="bi bi-whatsapp" target="_blank"> WhatsApp</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
