<div *ngIf="loginService.userLoggedIn() && loginService.isAdmin()">
  <div class="container my-4">
    <div class="card">
      <div class="card-header">
        <h1>Gestión de Usuarios</h1>
      </div>
      <div class="card-body">
        <form (ngSubmit)="nuevoUsuario._id ? actualizarUsuario() : agregarUsuario()">
          <div class="form-group mb-3">
            <label for="username">Username:</label>
            <input type="text" id="username" required [(ngModel)]="nuevoUsuario.username" name="username" class="form-control">
          </div>

          <div class="form-group mb-3">
            <label for="password">Password:</label>
            <input type="password" id="password" required [(ngModel)]="nuevoUsuario.password" name="password" class="form-control">
          </div>

          <div class="form-group mb-3">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" required [(ngModel)]="nuevoUsuario.nombres" name="nombres" class="form-control">
          </div>

          <div class="form-group mb-3">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" required [(ngModel)]="nuevoUsuario.apellido" name="apellido" class="form-control">
          </div>

          <div class="form-group mb-3">
            <label for="perfil">Perfil:</label>
            <select id="perfil" required [(ngModel)]="nuevoUsuario.perfil" name="perfil" class="form-control">
              <option *ngFor="let perfil of perfiles" [ngValue]="perfil">{{ perfil.nombre }}</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">{{ nuevoUsuario._id ? 'Actualizar Usuario' : 'Registrar Usuario' }}</button>
        </form>

        <div *ngIf="mensaje" class="alert alert-info mt-3">
          {{ mensaje }}
        </div>

        <h2 class="mt-4">Lista de Usuarios</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Perfil</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td>{{ usuario.username }}</td>
              <td>{{ usuario.nombres }}</td>
              <td>{{ usuario.apellido }}</td>
              <td>{{ usuario.perfil?.nombre }}</td>
              <td>
                <button class="btn btn-info btn-sm" (click)="cargarUsuario(usuario._id)">
                  <i class="bi bi-pencil-square"></i> Editar
                </button>
                <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(usuario._id)">
                  <i class="bi bi-trash"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
