/*Contenedor de los botones de login y registro INICIO*/
.btn-login {
    border: none;
    border-radius: 50px;
    background-color: #38B29A;
    padding: 8px 20px;
}

.btn-login:hover {
    background-color: #32A193;
}

.btn-registrar {
    border: 2px #38B29A solid;
    border-radius: 50px;
    padding: 0.3em 1em;
}

.btn-registrar:hover {
    border: 2px #38B29A solid;
    background-color: #38B29A
}

@media (max-width: 991px) {
    .login-container {
        margin-top: 0.5em;
        flex-direction: column;
    }

    .btn-login {
        width: 100%;
    }

    .btn-registrar {
        width: 100%;
    }
}
/*Contenedor de los botones de login y registro FIN*/