.admin-background {
  background-color: #353535;
  height: 100vh;
}

.background-svg {
  position: absolute;
}

.crud-user-container {
  padding-top: 5em;
  padding-bottom: 5em;
  border: none;
  max-width: 400px;
}

.custom-header {
  padding-top: 1em;
}

.img-container {
  display: flex;
  justify-content: center;
}

.card img {
  width: 70%;
}

.card-body {
  padding-left: 60px;
  padding-right: 60px;
}

input, select {
  border-radius: 25px;
}

.table-custom tbody,
.table-custom td,
.table-custom th {
  border: none; /* Elimina los bordes del tbody */
}

.btn-custom {
  background-color: #92e3a9;
  border-radius: 25px;
  border: none;
  width: 100%;
  color: black;
  margin-top: 1.6em;
  margin-bottom: 1em;
}

.btn-custom:hover {
  background-color: #7ec492;
}
