<div class="admin-background">
  <img src="/nosotros-wave.png" alt="" class="background-image" />
  <div class="container crud-user-container">
    <h2 class="text-center custom-header">
      Muestra la proporción de inscripciones en cada curso. Cada segmento del
      gráfico representa un curso diferente, y el tamaño de cada segmento es
      proporcional al número de inscripciones de ese curso
    </h2>
    <div #chart id="chart" style="height: 400px" class="background-svg"></div>
  </div>
</div>
